{# app/templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="well">
        {% if is_granted(expression('"ROLE_ADMIN" in roles')) %}
            <p>Je suis admin.</p>
            <a href="{{ path('security_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('user_registration')}}">Inscription</a>
            <br/>
            <a href="{{ path('security_login')}}">Connexion</a>
        {% endif %}
    </div>


    <div>
        Essai d'affichage du calendrier.
    </div>
    <br/>

    <div class="container">
        {% if is_granted(expression('"ROLE_ADMIN" in roles')) %}
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-xs-6">
                            <form action="{{ path('booking_new') }}">
                                <input type="submit" value="Créer évènement" />
                            </form>
                        </div>
                        <div class="col-xs-6">
                            <form action="{{ path('booking_index') }}">
                                <input type="submit" value="Modifier/Supprimer évènement" />
                            </form>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                {% include '_calendar.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/fullcalendar/includeFullCalendar.js') }}"></script>
{% endblock %}